/* made by mbcat */


/* margin, padding: only pages with no r tables()?) */
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
  }

  ul#menu {
  font-size: 18px;
  max-width: 1000px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  }
  div.content {
  max-width: 800px;
  padding: 10;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  color: #444444;
  }


  @media only screen and (min-width: 300px) and (max-width: 900px) {
    div#menu_div {
    padding: 0;
    margin: 0;
    }
    div.content {
    width: 95%;
    /* margin: 50px 10px 50px;  right margin doesn't work :( -->*/
    }
  }


/* !!! menu */
ul#menu {
height:50px;
border-bottom: 2px solid #666666;
background:#333;
color:#fff;
box-shadow:0 -1px rgba(0,0,0,.5) inset;
}

ul#menu > li {
float:left;
list-style-type:none;
}

label.label_menu{
position:relative;
color: white;
display:block;
padding:0px 31px 0px 23px;
line-height:50px;
}


label.label_menu li a{
position:relative;
color: white;
display:block;
padding:0px 31px 0px 23px;
line-height:50px;
}

label.label_menu:after{
content:"";
position:absolute;
display:block;
top:48%;
right:17px;
width:0;
height:0px;
border-top:4px solid rgba(255,255,255,.5);
border-bottom:0 solid rgba(255,255,255,.5);
border-left:4px solid transparent;
border-right:4px solid transparent;
transition:border-bottom .1s, border-top .1s .1s;
}

label.label_menu:hover{ cursor: pointer; }


input.input_menu:checked ~ label{
    /* main gradient !!! */
    background-image: linear-gradient(to bottom right, #7B1FA2, #1A237E);
}

input.input_menu:checked ~ label:after{
border-top:0 solid rgba(255,255,255,.5);
border-bottom:4px solid rgba(255,255,255,.5);
transition:border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input.input_menu {display:none}

/*show the second levele menu of the selected voice*/
input.input_menu:checked ~  ul.submenu{
max-height:300px;
transition:max-height 0.3s ease-in;
}

/*style for the second level menu*/
ul.submenu{
max-height:0;
padding:0;
overflow:hidden;
list-style-type:none;
font-size: 14px;
background:#f9f9f9;
box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
transition:max-height 0.3s ease-out;
position:absolute;
min-width: 120px;
}

ul.submenu li a{
display:block;
color: #555555;
padding-top: 10px;
padding-left: 13px;
padding-right: 13px;
padding-bottom: 10px;
text-decoration:none;
transition:background .3s;
white-space:nowrap;
}

ul.submenu li a:hover{
color: black;
background:#ddd;
}



/* basic, theme by mbcat */
h1 h2 h3 h4 h5 {
color:black;
}

strong {
    background-color: #FFFDC2;
    border:1px solid #FFFDC2;
    color:black;
}

p {
padding-left: 5px;
padding-right: 5px;
}

.talking {
    font-style: oblique;
}

.page_link{
    text-decoration: none;
    color: white;
    padding: 3px 7px 3px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #7B1FA2, #1A237E);
}

.show_hide_button{
    text-decoration: none;
    font-size: 17px;
    color: #444444;
    padding: 6px;
    border-radius: 9px;
    background-image: linear-gradient(to bottom right, #f3f3f3, #dfdfdf);
}

.show_hide_content_div{
    display: none;
    background-color: #efefef;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 6px;
}

.show_hide_image_div{
    display: none;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 6px;
}


.table_title {
background-color: #f9f9f9;
border: 6px solid #f9f9f9;
color: black;
}


.table_box {
color: black;
border: 12px solid #f9f9f9;
background-color: #f9f9f9;
}

/* show entries,  */
.dataTables_info,
.dataTables_length {
font-size: 15px;
}







/* for page 'role desc heroes */

/*  top 3 columns    */

/* make column  work*/
.tab_group:after {
  content: "";
  display: table;
  clear: both;
}


#role_D, #role_H, #role_A {
    font-size: 22px;
    float: left;
    text-align: center;
    padding-top: 0.3vw;
    padding-bottom:  0.3vw;
    width: 33.3%;
}


@media only screen and (min-width: 300px) and (max-width: 900px) {
    #role_D, #role_H, #role_A{
        font-size: 5vw;
    }
}

#role_D{
    color: #C5191C;
}

#role_H {
    color: #00BB6E;
}

#role_A {
    color: #1971D1;
}




/* 6 columns*/
.col_role {
  float: left;
 margin-left:  0.83%;
 margin-right: 0.83%;
  width: 15%;
}

/* Clear floats after the columns */
.col_role_entire:after {
  content: "";
  display: table;
  clear: both;
}

/* main button */
.btn_role,   .btn_sub_role  {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    
    padding-top: 0.5vw;
    border-radius: 1vw;
    padding-bottom:  0.7vw;
    background-color: #dddddd;
    border: none;
    text-decoration: none;
    display: inline-block;
    display: block;
     text-align: center;
    width: 100%;
    
    font-size: 18px;
}

@media only screen and (min-width: 300px) and (max-width: 900px) {
    .btn_role,   .btn_sub_role {
        font-size: 3vw;
    }
}


.btn_sub_role, .btn_role{
    padding-top: 0.8vw;
    padding-bottom: 1vw;
}

.btn_role{
     color: white;
}

/* three  diffenrt colors  */
#btn_role_D_K,  #btn_role_D_D {
    background-color: #C5191C;
}

#btn_role_H_H,  #btn_role_H_o {
    background-color: #00BB6E;
}

#btn_role_A_W,  #btn_role_A_o {
    background-color: #1971D1;
}


@media only screen and (min-width: 300px) and (max-width: 900px) {
    .btn_role,   .btn_sub_role {
    padding-top: 1.5vw;
    padding-bottom:  1.7vw;
    }
}


/* role information */
.information_role {
  overflow: hidden;
}

.filterDiv {
  float: left;
  display: none; /* Hidden by default */
}

.show {
  display: block;
}

/* Add a dark background to the active button
.btn_sub_role.active {
  background-color: #666;
  color: white;
}

this make error in desk top...
*/

