/* made by mbcat */


/* margin, padding: only pages with no r tables()?) */
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
  }

  ul#menu {
  font-size: 18px;
  max-width: 1000px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  }
  div.content {
  max-width: 800px;
  padding: 10;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  color: #444444;
  }


/* there is a problem that, I can click sub menus which should be hidden  */
  @media only screen and (min-width: 300px) and (max-width: 900px) {
    div#menu_div
      ,div#menu_div_kr
      ,div#menu_div_eng {
    padding: 0;
    margin: 0;
    }
      
    div.content {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 95%;
    /* margin: 50px 10px 50px;  right margin doesn't work :( -->*/
    }
  }


/* !!! menu */
ul#menu {
height:50px;
border-bottom: 2px solid #666666;
background:#333;
color:#fff;
box-shadow:0 -1px rgba(0,0,0,.5) inset;
}

ul#menu > li {
float:left;
list-style-type:none;
}

label.label_menu{
position:relative;
color: white;
display:block;
padding:0px 31px 0px 23px;
line-height:50px;
}


label.label_menu li a{
position:relative;
color: white;
display:block;
padding:0px 31px 0px 23px;
line-height:50px;
}

label.label_menu:after{
content:"";
position:absolute;
display:block;
top:48%;
right:17px;
width:0;
height:0px;
border-top:4px solid rgba(255,255,255,.5);
border-bottom:0 solid rgba(255,255,255,.5);
border-left:4px solid transparent;
border-right:4px solid transparent;
transition:border-bottom .1s, border-top .1s .1s;
}

label.label_menu:hover{ cursor: pointer; }


input.input_menu:checked ~ label{
    /* main gradient !!! */
    background-image: linear-gradient(to bottom right, #7B1FA2, #1A237E);
}

input.input_menu:checked ~ label:after{
border-top:0 solid rgba(255,255,255,.5);
border-bottom:4px solid rgba(255,255,255,.5);
transition:border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input.input_menu {display:none}

/*show the second levele menu of the selected voice*/
input.input_menu:checked ~  ul.submenu{
max-height:300px;
transition:max-height 0.3s ease-in;
}

/*style for the second level menu*/
ul.submenu{
max-height:0;
padding:0;
overflow:hidden;
list-style-type:none;
font-size: 14px;
background:#f9f9f9;
box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
transition:max-height 0.3s ease-out;
position:absolute;
min-width: 120px;
}

ul.submenu li a{
display:block;
color: #555555;
padding-top: 10px;
padding-left: 13px;
padding-right: 13px;
padding-bottom: 10px;
text-decoration:none;
transition:background .3s;
white-space:nowrap;
}

ul.submenu li a:hover{
color: black;
background:#ddd;
}



/* basic, theme by mbcat */
h1 h2 h3 h4 h5 {
color:black;
}

strong {
    background-color: #FFFDC2;
    border:1px solid #FFFDC2;
    color:black;
}

p {
padding-left: 5px;
padding-right: 5px;
}

.talking {
    font-style: oblique;
}

.page_link{
    text-decoration: none;
    color: white;
    padding: 3px 7px 3px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #7B1FA2, #1A237E);
}

.show_hide_button{
    text-decoration: none;
    font-size: 17px;
    color: #444444;
    padding: 6px;
    border-radius: 9px;
    background-image: linear-gradient(to bottom right, #f3f3f3, #dfdfdf);
}

.show_hide_content_div{
    display: none;
    background-color: #efefef;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 6px;
}

.show_hide_image_div{
    display: none;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 6px;
}


.table_title {
background-color: #f9f9f9;
border: 6px solid #f9f9f9;
color: black;
}


.table_box {
color: black;
border: 12px solid #f9f9f9;
background-color: #f9f9f9;
}

/* show entries,  */
.dataTables_info,
.dataTables_length {
font-size: 15px;
}







/* for page 'role desc heroes */

/*  top 3 columns    */

/* make column  work*/
.tab_group:after {
  content: "";
  display: table;
  clear: both;
}


#role_D, #role_H, #role_A {
    font-size: 22px;
    float: left;
    text-align: center;
    padding-top: 0.3vw;
    padding-bottom:  0.3vw;
}

#role_D{ width: 33.3%;}
#role_H{ width: 16.6%;}
#role_A{ width: 50%;}


@media only screen and (min-width: 300px) and (max-width: 900px) {
    #role_D, #role_H, #role_A{
        font-size: 5vw;
    }
}

#role_D{
    color: #C5191C;
}

#role_H {
    color: #00BB6E;
}

#role_A {
    color: #1971D1;
}




/* below 6 columns*/

.col_role {
  float: left;
 margin-left:  0.6%;
 margin-right: 0.6%;
  width: 15.46%;
}

/* Clear floats after the columns */
.col_role_entire:after {
  content: "";
  display: table;
  clear: both;
}

/* buttons */
.btn_role,   .btn_sub_role  {
    margin-top: 8px;
    margin-bottom: 8px;
    
    padding-top: 7px;
    padding-bottom:  7px;
    
    padding-left:  0;
    padding-right:  0;
    
    border-radius: 10px;
    
    background-color: #dddddd;
    border: none;
    text-decoration: none;
    display: inline-block;
    display: block;
     text-align: center;
    width: 100%;
    
    font-size: 18px;
}

@media only screen and (min-width: 300px) and (max-width: 540px) {
    .btn_role,   .btn_sub_role {
        margin-top: 1vw;
        margin-bottom: 1vw;
        
        padding-top: 0.8vw;
        padding-bottom:  0.8vw;
        
        font-size: 2.8vw;
        border-radius: 6px;
    }
}

.btn_role{
     color: white;
}

/* three  diffenrt colors  */
#btn_role_D_K,  #btn_role_D_D {
    background-color: #C5191C;
}

#btn_role_H_H {
    background-color: #00BB6E;
}

#btn_role_A_T,  #btn_role_A_F, #btn_role_A_S {
    background-color: #1971D1;
}



/* role information */
.information_role {
  overflow: hidden;
}

.filterDiv {
  float: left;
  display: none; /* Hidden by default */
}

.show {
  display: block;
}

/* Add a dark background to the active button
.btn_sub_role.active {
  background-color: #666;
  color: white;
}

this make error in desk top...
*/



/*for surveys*/
.survey{
    margin-top: 20px;
    margin-bottom: 20px;
}




/* hero buttons */
.btn_hero{
    background-size: 50px 50px;
    border-radius: 10px;
    margin:2px;
    height: 50px;  
    width: 50px;
    outline: none;
    box-shadow: none;
}

.btn_g_DAMAGE{
    border: 6px solid #C5191C;
}
.btn_g_HEAL{
    border: 6px solid #00BB6E;
}
.btn_g_ASSIST{
    border: 6px solid #1971D1;
}
.btn_g_SPECIAL{
    border: 6px solid #7D0CF4;
}


@media only screen and (min-width: 300px) and (max-width: 540px) {
    .btn_hero {
    background-size: 33px 33px;
    border-radius: 7px;
    margin:2px;
    height: 33px;  
    width: 33px;
    outline: none;
    box-shadow: none;
    }
    .btn_g_DAMAGE{
    border: 3px solid #C5191C;
}
    .btn_g_HEAL{
    border: 3px solid #00BB6E;
}
    .btn_g_ASSIST{
    border: 3px solid #1971D1;
}
    .btn_g_SPECIAL{
    border: 3px solid #7D0CF4;
}
    
}


button.btn_hero:active {
  border-style: outset;
}

/* button images links */
#btn_Abathur  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Abathur.png' );} #btn_Alarak  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Alarak.png' );} #btn_Alexstrasza  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Alexstrasza.png' );} #btn_Ana  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Ana.png' );} #btn_Anduin  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Anduin.png' );} #btn_Anub_arak  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Anub_arak.png' );} #btn_Artanis  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Artanis.png' );} #btn_Arthas  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Arthas.png' );} #btn_Auriel  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Auriel.png' );} #btn_Azmodan  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Azmodan.png' );} #btn_Blaze  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Blaze.png' );} #btn_Brightwing  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Brightwing.png' );} #btn_Cassia  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Cassia.png' );} #btn_Chen  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Chen.png' );} #btn_Cho  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Cho.png' );} #btn_Chromie  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Chromie.png' );} #btn_D_Va  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/D_Va.png' );} #btn_Deckard  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Deckard.png' );} #btn_Dehaka  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Dehaka.png' );} #btn_Diablo  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Diablo.png' );} #btn_E_T_C_  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/E_T_C_.png' );} #btn_Falstad  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Falstad.png' );} #btn_Fenix  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Fenix.png' );} #btn_Gall  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Gall.png' );} #btn_Garrosh  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Garrosh.png' );} #btn_Gazlowe  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Gazlowe.png' );} #btn_Genji  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Genji.png' );} #btn_Greymane  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Greymane.png' );} #btn_Gul_dan  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Gul_dan.png' );} #btn_Hanzo  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Hanzo.png' );} #btn_Illidan  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Illidan.png' );} #btn_Imperius  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Imperius.png' );} #btn_Jaina  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Jaina.png' );} #btn_Johanna  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Johanna.png' );} #btn_Junkrat  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Junkrat.png' );} #btn_Kael_thas  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Kael_thas.png' );} #btn_Kel_Thuzad  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Kel_Thuzad.png' );} #btn_Kerrigan  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Kerrigan.png' );} #btn_Kharazim  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Kharazim.png' );} #btn_Leoric  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Leoric.png' );} #btn_Li_Li  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Li_Li.png' );} #btn_Li_Ming  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Li_Ming.png' );} #btn_Lt_Morales  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Lt_Morales.png' );} #btn_Lucio  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Lucio.png' );} #btn_Lunara  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Lunara.png' );} #btn_Maiev  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Maiev.png' );} #btn_Mal_Ganis  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Mal_Ganis.png' );} #btn_Malfurion  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Malfurion.png' );} #btn_Malthael  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Malthael.png' );} #btn_Medivh  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Medivh.png' );} #btn_Mephisto  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Mephisto.png' );} #btn_Muradin  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Muradin.png' );} #btn_Murky  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Murky.png' );} #btn_Nazeebo  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Nazeebo.png' );} #btn_Nova  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Nova.png' );} #btn_Orphea  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Orphea.png' );} #btn_Probius  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Probius.png' );} #btn_Ragnaros  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Ragnaros.png' );} #btn_Raynor  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Raynor.png' );} #btn_Rehgar  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Rehgar.png' );} #btn_Rexxar  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Rexxar.png' );} #btn_Samuro  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Samuro.png' );} #btn_Sgt_Hammer  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Sgt_Hammer.png' );} #btn_Sonya  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Sonya.png' );} #btn_Stitches  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Stitches.png' );} #btn_Stukov  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Stukov.png' );} #btn_Sylvanas  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Sylvanas.png' );} #btn_Tassadar  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Tassadar.png' );} #btn_The_Butcher  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/The_Butcher.png' );} #btn_The_Lost_Vikings  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/The_Lost_Vikings.png' );} #btn_Thrall  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Thrall.png' );} #btn_Tracer  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Tracer.png' );} #btn_Tychus  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Tychus.png' );} #btn_Tyrael  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Tyrael.png' );} #btn_Tyrande  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Tyrande.png' );} #btn_Uther  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Uther.png' );} #btn_Valeera  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Valeera.png' );} #btn_Valla  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Valla.png' );} #btn_Varian  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Varian.png' );} #btn_Whitemane  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Whitemane.png' );} #btn_Xul  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Xul.png' );} #btn_Yrel  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Yrel.png' );} #btn_Zagara  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Zagara.png' );} #btn_Zarya  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Zarya.png' );} #btn_Zeratul  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Zeratul.png' );} #btn_Zul_jin  {background-image: url( 'https://ghtea.github.io/hots/a/hero_portraits/60/Zul_jin.png' );}

